{% extends 'blog/base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Delete ICPC</h2>
    <p>Bạn có chắc chắn muốn xóa thông tin ICPC với các thông tin bên dưới này không</p>
    <ul>
        <li>Năm: {{icpc.year}}</li>
        <li>Giải: {{ icpc.result  }}</li>
        <li>Tên: {{ icpc.team_name }}</li>
        <li>Phạm vi: {{ icpc.scope }}</li>
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Xác Nhận Xóa
        </button>
        <a href="{% url 'icpc_list' %}" class="btn btn-secondary">
            <i class="fas fa-times"></i> Hủy Bỏ
        </a>
    </form>
  </div>
{% endblock content %}
